<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../css/detailmodal.css">
    </head>
    <body>
        <div class="detailModal">
            <div class="titleDetail">
                <div class="detailTitle">
                    <button></button>
                    <p> Kịch bản </p>
                </div>
                <div class="inlist">
                    <p>in list</p>
                    <!-- <button style="background-color: rgba(220, 223, 228, 1);">
                        <span> IN-PROGRESS </span>
                        <img src="../assets/icon/Frame (4).png" alt>
                    </button> -->
                    <select id="selectList">
                        <option>IN-PROGESS</option>
                        <option>TO-DO</option>
                    </select>
                </div>
            </div>
            <div class="containerDetail">
                <div class="containerLeft">
                    <div class="titleContainer">
                        <img src="../assets/icon/Frame (5).png" alt>
                        <span>
                            Description
                        </span>
                    </div>
                    <div class="textContainer">
                        <div class="toolBar">
                            <div class="first">
                                <button>
                                    <img
                                        src="../assets/icon/Button menu - normal Text styles.png"
                                        alt>
                                </button>
                            </div>
                            <div class="second">
                                <button>
                                    <img
                                        src="../assets/icon/Button - Bold ⌘B.png"
                                        alt>
                                </button>
                                <button>
                                    <img
                                        src="../assets/icon/Button - Italic ⌘I.png"
                                        alt>
                                </button>
                                <button>
                                    <img src="../assets/icon/Button menu.png"
                                        alt>
                                </button>
                            </div>
                            <div class="third">
                                <button>
                                    <img
                                        src="../assets/icon/Button menu - Lists.png"
                                        alt>
                                </button>
                            </div>
                            <div class="four">
                                <button>
                                    <img
                                        src="../assets/icon/Button dialog - Link ⌘K.png"
                                        alt>
                                </button>
                                <button>
                                    <img src="../assets/icon/Button - Image.png"
                                        alt>
                                </button>
                                <button>
                                    <img
                                        src="../assets/icon/Button - Add board.png"
                                        alt>
                                </button>
                                <button>
                                    <img src="../assets/icon/Frame (4).png" alt>
                                </button>
                            </div>
                            <div class="five">
                                <button>
                                    <img src="../assets/icon/Frame (6).png" alt>
                                </button>
                            </div>
                            <div class="six">
                                <button>
                                    <img
                                        src="../assets/icon/Button - Attach and insert link.png"
                                        alt>
                                </button>
                                <button>
                                    <img
                                        src="../assets/icon/Button - View Markdown.png"
                                        alt>
                                </button>
                                <button>
                                    <img src="../assets/icon/Button (1).png"
                                        alt>
                                </button>
                            </div>
                        </div>
                        <div class="textarea">
                            <textarea id="text"></textarea>
                        </div>
                    </div>
                </div>
                <div class="containerRight">
                    <button class="button-one">
                        <img src="../assets/icon/Frame (10).png" alt>
                        Labels
                    </button>
                    <button class="button-two">
                        <img src="../assets/icon/Frame (8).png" alt>
                        Dates
                    </button>
                    <button class="button-three" id="btnDelete">
                        <img src="../assets/icon/Frame (9).png" alt>
                        Delete
                    </button>
                </div>
            </div>
            <div class="action-button">
                <button class="btn-sv">Save</button>
                <button class="btn-cc">Cancel</button>
            </div>
        </div>
        <div class="modalMove" style="display: none;">
            <div class="titleMoveModal">
                <p>Move card</p>
                <button class="btn-closeMoveModal" id="closeModal">
                    <img src="../assets/icon/Button - Close popover.png" alt>
                </button>
            </div>
            <div class="containerMoveCard">
                <p
                    style="width: 107.04px; height: 16px; font-family: 'Roboto'; font-style: normal;font-weight: 600; font-size: 12px; line-height: 16px; display: flex; align-items: center; color: #44546F; ">
                    Select destination
                </p>
                <label>Board</label>
                <input class="inputMoveModal" type="text">
                <div class="dropdown-group">
                    <div style="display: flex; flex-direction: column;">
                        <label for="list">List</label>
                        <select id="list">
                            <option>In-progress</option>
                            <option>To do</option>
                            <option>Done</option>
                        </select>
                    </div>
                    <div style="display: flex; flex-direction: column;">
                        <label for="position">Position</label>
                        <select id="position">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                    </div>
                </div>
                <button class="move-btn">Move</button>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="../js/DetailModal.js"></script>
    </body>
</html>
